.task {
  margin: 15px 0;
  color: #0D697D;

}

.task.true {
  text-decoration: line-through;
}

.task.false{
  text-decoration: none;
}

button {
  height: 25px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #95E06C;
}

.clear {
  background-color: #E1AA7D;
}